h1,
h2,
h3,
h4 {
  font-family: $primary-font;
  font-weight: $font-bold;
  color: $heading;
}

h1 {
  font-size: 3.2rem;
  line-height: 3.6rem;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  padding: 0 2rem 0 2rem;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}