h1,
h2,
h3,
h4 {
  font-family: $primary-font;
  font-weight: $font-bold;
  color: $heading;
}

h1 {
  font-size: 3.2rem;
  line-height: 3.6rem;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  padding: 0 2rem 0 2rem;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.card {
  display: flex;
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: -5px 10px 5px -10px hsla(233, 31%, 17%, 0.164);
  margin-bottom: 2rem;
}

.flex-h {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.deg270 {
  transform: rotate(270deg);
}

.deg90 {
  transform: rotate(90deg);
}

.light-grey {
  background-color: $primary-color-lighter !important;
}

.warning {
  background-color: $warning !important;
}
