// Colors

$heading: hsl(228, 29%, 7%);

$primary-color: hsl(252, 94%, 67%);
$primary-color-lighter: hsl(231, 37%, 63%);
$primary-color-light: hsl(252, 100%, 73%);
$primary-color-darker: hsl(233, 31%, 17%);
$primary-color-dark: hsl(233, 30%, 21%);

$background: hsl(240, 27%, 98%);
$light-text: hsl(231, 20%, 61%);

// Status buttons

$paidBtn: #33d69f;
$pendingBtn: #ff8f00;
$draftBtn: #373b53;

$warning: hsl(0, 80%, 63%);

$paidBtnBg: #33d6a01c;
$pendingBtnBg: #ff91001c;
$draftBtnBg: #373b5321;

$primary-font: 'Spartan', sans-serif;

$font-bold: 700;
$font-body: 500;
