// Colors

$primary-color: hsl(252, 94%, 67%);
$primary-color-light: hsl(252, 100%, 73%);
$primary-color-darker: hsl(233, 31%, 17%);
$primary-color-dark: hsl(233, 30%, 21%);

$background: hsl(240, 27%, 98%);

$light-text: hsl(231, 20%, 61%);

$primary-font: 'Spartan', sans-serif;

$font-bold: 700;
$font-body: 500;
