.btn {
  background-color: $primary-color;
  padding: 1rem;
  border-radius: 5rem;
  @include btn;
}

.new-invoice-btn {
  display: flex;
  align-items: center;

  &__text {
    margin-left: 1rem;
  }
}

.action-btn {
  padding: 1.8rem 2.5rem;
  margin-left: 1rem;
}

.status-btn {
  @include btn;
  padding: 0.8rem 3rem;
  border-radius: 5px;
  text-align: center;
}

.paid {
  color: $paidBtn;
  background-color: $paidBtnBg;
}

.pending {
  color: $pendingBtn;
  background-color: $pendingBtnBg;
}

.draft {
  color: $draftBtn;
  background-color: $draftBtnBg;
}
