.btn {
  background-color: $primary-color;
  padding: 1.5rem 1.5rem;
  border-radius: 5rem;
  @include btn;
}

.status-btn {
  @include btn;
  padding: 1rem 1rem;
  border-radius: 5px;
  width: 10rem;
}

.paid {
  color: $paidBtn;
  background-color: $paidBtnBg;
}

.pending {
  color: $pendingBtn;
  background-color: $pendingBtnBg;
}

.draft {
  color: $draftBtn;
  background-color: $draftBtnBg;
}