.btn {
  display: inline-block;
  font-family: inherit;
  background-color: $primary-color;
  padding: 1.5rem 1.5rem;
  border-radius: 5rem;
  color: #fff;
  font-weight: $font-bold;
  font-size: 1.2rem;
  border: none;
  letter-spacing: 0.1rem;
}
