.btn {

  background-color: $primary-color;
  padding: 1rem 1.5rem;
  border-radius: 5rem;
  @include btn;
}

.new-invoice-btn {

  display: flex;
  align-items: center;

  &__text {
    margin-left: 1rem;
  }
}

.status-btn {
  @include btn;
  padding: 1rem 0rem;
  border-radius: 5px;
}

.paid {
  color: $paidBtn;
  background-color: $paidBtnBg;
}

.pending {
  color: $pendingBtn;
  background-color: $pendingBtnBg;
}

.draft {
  color: $draftBtn;
  background-color: $draftBtnBg;
}