.invoicelist {
    margin-top: 7rem;
}

.no-invoice {
    display: flex;
    margin-top: 7rem;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__title {
        margin-top: 5rem;
        margin-bottom: 2rem;
    }

    &__body {

        max-width: 24rem;
        text-align: center;
    }
}