.invoice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__id {
    color: $primary-color-lighter;

    & > span {
      color: $heading;
    }
  }
  &__date,
  &__name {
    color: $light-text;
  }

  &__price {
    display: flex;
    justify-content: flex-end;
    margin-right: 8rem;
  }

  &__status {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__status span {
    font-size: 2.5rem;
    margin-right: 5px;
  }

  &__arrow {
    margin-left: 2rem;
    margin-right: 1rem;
  }
}

.go-back {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.invoice > *:not(:last-child) {
  align-content: flex-start;
  max-width: 25rem;
  width: 25rem;
}

.invoice-action {
  &__status {
    display: flex;
    align-items: center;
    width: 20rem;

    & > button {
      margin-left: 2rem;
    }
  }
}
