@import '../scss/variables';
@import '../scss/base';

@import '../scss/utilities/mixins';

@import '../scss/components/button';
@import '../scss/components/header';
@import '../scss/components/invoice';
@import '../scss/components/invoicelist';

* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  color: $light-text;
  font-family: $primary-font;
  background-color: $background;
}
